.container, .row {
    margin: 0px auto;
    width: 100%;
}

.ranking {
    max-width: 520px;
    width: 100%;
    margin: 0px auto;
}

.ranking .trophy {
    text-align: center;
}

.ranking span.fa-trophy {
    font-size: 100px;
    color: rgb(204, 204, 0, 1);
    padding: 1rem;
    display: inline-block;
}

.progress-bar {
    background-color: #074683;
}

.progress {
    margin-bottom: 10px;
}

.btn-loewen {
    width: 100%;
    margin-top: 10px;
    background-color: rgb(204, 204, 0, 1);
    color: #074683;
    border: 1px solid #074683;
}